@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}
@layer base {
  :root {
    /* Colores base */
    --color-primary: #3A2659;
    --color-secondary: #7C52BF;
    --color-accent: #FFD700;
    --color-white: #FFFFFF;
    --color-gold-dark: #6C5E06;
    --color-border-card-outer: #240F42;
    --color-border-card-inner: rgba(108, 94, 6, 0.20);
    --color-modal: rgba(0, 0, 0, 0.80);
    
    /* Fuentes */
    --font-syne: 'Syne', sans-serif;
    --font-mono: 'Space Mono', monospace;
  }
}

@layer components {
  /* Clases reutilizables para degradados */
  .bg-header-gradient {
    background: linear-gradient(180deg, #3A2659 38.41%, #7C52BF 82.87%);
  }
  .bg-footer-gradient {
    border-top: 1px solid var(--color-accent);
    background: linear-gradient(180deg, #3A2659 0%, #7C52BF 100%);
  }
  .bg-body-gradient {
    background: linear-gradient(180deg, #3A2659 38.41%, #7C52BF 82.87%);
  }
}

@layer utilities {
  /* Efectos de luz y sombra */
  .shadow-card-selected { box-shadow: 0 0 15px 0 #FFD700; }
  .shadow-hover-gold { box-shadow: 0 0 15px 0 #FCDD4D; }
  .text-glow-gold { text-shadow: 0 0 15px #FFD700; }
}